<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Serilog" version="2.11.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Console" version="4.0.1" targetFramework="net472" />
  <package id="Serilog.Sinks.Humio" version="1.1.2" targetFramework="net472" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.3.1" targetFramework="net472" />
</packages>